<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <title>GameHub</title>
    <link rel="stylesheet" href="/css/style.css">
    
    <link rel="stylesheet" href="<%= css %>">
  </head>

  <body>
    <header>
      <h1>GameHub</h1>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/game/diceRoller">Dice Roller</a></li>
          <li><a href="/game/fourchette">Jeu de la Fourchette</a></li>
        </ul>
      </nav>
    </header>
