<%- include('./partials/header.ejs') %>

    <section>
      <form class="configuration"></form>
    </section>
    <main>
      <div id="invader"></div>
    </main>
    <footer>
      <div class="colorCircle greyColor"></div>
      <div class="colorCircle blackColor"></div>
      <div class="colorCircle yellowColor"></div>
      <div class="colorCircle greenColor"></div>
    </footer>
    <button id="resetButton">Réinitialiser</button>
    <script src="../js/app.js"></script>
  </body>
</html>
